ControlAsistencia/WEB/Connected Services/proxy/ControlAsistencia1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57608/ControlAsistencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Empleados" />
  <xs:import schemaLocation="http://localhost:57608/ControlAsistencia.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO.Empleados" minOccurs="0" name="getDepartamentoResult" nillable="true" type="q1:ArrayOfdtoDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procesarTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_strIdDepartamento" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_intIdEmpleado" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="_strEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dtFechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_dtFechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procesarTurnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>