ControlAsistencia/WEB/Connected Services/proxy/ControlAsistencia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Empleados" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Empleados" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdtoDepartamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dtoDepartamento" nillable="true" type="tns:dtoDepartamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdtoDepartamento" nillable="true" type="tns:ArrayOfdtoDepartamento" />
  <xs:complexType name="dtoDepartamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEPTID" type="xs:int" />
      <xs:element minOccurs="0" name="DEPTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPDEPTID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dtoDepartamento" nillable="true" type="tns:dtoDepartamento" />
</xs:schema>